body {
    background-image: linear-gradient(#F2EFE4, white);
    background-attachment: fixed;
    margin: 0px;
}

.top {
    background: #262626;
    color: #F6F6F6;
    text-align: center;
    overflow: auto;
    margin-top: -10px;
    margin-bottom: -10px
}

.header nav {
    background: #F2EFE4;
    border-bottom: 1px solid #D4CBB6;
    text-align: center;
    font-size: .9em;
    font-weight: 400;
}

.header nav a {
    display: inline-block;
    font-size: .9em;
    color: #3F3D32;
    padding: 10px;
    text-decoration: none;
}

.header nav a:hover {
    display: inline-block;
    background-color: #D4CBB6;
    border-top: 0px;
}

.textcontainer {
    font-size: 1.3em;
    width: 75%;
    margin: 0 auto;
    overflow: auto;
    text-align: justify;
}

.textcontainer code {
    background-color: #D4CBB6;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.textcontainer a {
    color: #44A2F4;
    text-decoration: none;
}

.textcontainer a:hover {
    text-decoration: underline;
}

.textcontainer pre {
    background-color: #D4CBB6;
    border-radius: 10px;
    padding: 1em;
}

.textcontainer ul {
    list-style-type: square;
}

.textcontainer li {
    margin-bottom: .4em;
}

    
